@tailwind base
@tailwind components
@tailwind utilities

body
  overflow: hidden
  background-color: #001825

#root
  display: flex
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

.touchable
  cursor: pointer
  user-select: none

*:focus
  outline: none

a
  text-decoration-line: none
  color: #dedede
