.idea

# automations
.sst
.sst.config.*
main.tf
cdk.context.json

# builds
apps/**/metacraft
!apps/**/java/metacraft
apps/**/builds
packages/**/lib
.swc
.tamagui
.next
.open-next

# cdk
cdk.out

# wasm
wasm/target
wasm/pkg

# dependencies
node_modules
.pnp
.pnp.js
.yarn/cache
.yarn/install-state.gz

# testing
coverage

# next.js
.next/
out/
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env.test
.env.development
.env.staging
.env.production

# configs
GoogleService-info*.plist
google-services*.json
apps/**/ios/tmp.xcconfig

# turbo
.turbo

# vscode
.vscode
.prettierrc
.history

cli/tokens/**/assets
cli/tokens/**/cache.json
cli/tokens/**/config.json
cli/tokens/**/sugar.log

playground