<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Walless</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="disabled-adaptations" content="watch">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="shortcut icon" type="image/x-icon" href="/icons-extension/128.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#131c24">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
