@mixin font-rubik($variant, $weight, $style)
  @font-face
    font-family: "Rubik"
    src: url("/font/Rubik-#{$variant}.ttf") format("truetype")
    font-weight: $weight
    font-style: $style

body
  background-color: #011726
  overflow: hidden

  &.popup
    width: 410px
    height: 600px

#root
  display: flex
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

*
  box-sizing: border-box

a
  color: inherit

h1, h2, h3, h4, h5, h6
  margin: 0
  padding: 0

li, select, input, button, [role="slider"], [role="listbox"]
  outline: none

.is_Fieldset
  all: unset

p, input, textarea, button, ul, ol, li, pre, dialog
  all: unset
  box-sizing: border-box

a.is_Button, .is_Anchor:has(.is_Button)
  text-decoration: none


@include font-rubik("Black", 900, normal)
@include font-rubik("Bold", 700, normal)
@include font-rubik("BoldItalic", 700, italic)
@include font-rubik("Medium", 500, normal)
@include font-rubik("MediumItalic", 500, italic)
@include font-rubik("SemiBold", 600, normal)
@include font-rubik("SemiBoldItalic", 600, italic)
@include font-rubik("Regular", 400, normal)
@include font-rubik("Italic", 400, italic)
@include font-rubik("Light", 300, normal)
@include font-rubik("LightItalic", 300, italic)
