::-webkit-scrollbar {
    /* 1 */
    background-color: transparent;
}

::-webkit-scrollbar:horizontal {
    height: 4px;
}

::-webkit-scrollbar:vertical {
    width: 4px;
}

::-webkit-scrollbar-button {
    /* 2 */
}
::-webkit-scrollbar-track {
    /* 3 */
}
::-webkit-scrollbar-track-piece {
    /* 4 */
}
::-webkit-scrollbar-thumb {
    /* 5 */
    border-radius: 10px;
    background-color: gray;
}

::-webkit-scrollbar-corner {
    /* 6 */
}
::-webkit-resizer {
    /* 7 */
}
